body {
    background-color: darkcyan;
    margin: 0;
    overflow: hidden;
}

.left {
/*    overflow-y: scroll;*/
    color: white;
    background-color: black;
    width: 25%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
}

.right {
/*    overflow-y: scroll;  */
    color: white;
    background-color: black;
    width: 25%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
}

#titles {
    text-align: center;
    padding: 2%;
}

.awardImg {
    width: 100px;
}

.awardText {
    
}

#prtitle {
    text-align: center;
    margin-top: 2%;
    font-size: 100%;
}

.prcr {
    text-align: center;
/*    background-color: blue;*/
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: center;
}
#prcrImg {
    max-width: 45%;
    min-width: 30%;
}


@media screen and (max-width: 540px){
    body{
        
    }
    .left {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
    }
    .right {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
    }
    
    .prcr {
        text-align: center;
        width: 45%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    #prcrImg {
        max-width: 45%;
        min-width: 30%;
    }
    }

/* HOME BUTTON START*/
button {
    display: block;
    margin: auto;
    margin-bottom: 2%;
}

button:hover {
    background-color: darkgray;
}
/* HOME BUTTON END*/