body {
    margin: 0;
    background-color: palevioletred;
    background: linear-gradient(180deg, rgba(255,170,144,1) 0%, rgba(219,112,147,1) 40%);
    overflow: hidden;
    color: white;
}

#navbar {
    width: 100%;
    position: fixed;
    bottom: 130px;
}

#tabs {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

.tab {
    z-index:auto;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items:center;
    width: 20%;
    background-color: aqua;
    height: 45px;
    margin: 5px;
    margin-top: 0;
    border: 5px;
    filter: brightness(50%);
    border-radius: 10px;
    font-family: 'Indie Flower', cursive;
}

#onTab {
    background-color: #3A1D7D;
    transform: translateY(-10px);filter: brightness(100%);
}

.tab:hover {
    animation-name: fileHover;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

#holder {
    height: calc(100% - 200px);
}

#stickyNote {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.snImg {
    width: 32%;
   
}



.snImg:hover {
    width: 37%;
    max-width: 37%;
    transform: rotate(10deg);
    transition-timing-function: ease;
}
.still {
    z-index: 2;
    width: 100%;
    height: 150px;
    position: fixed;
    bottom: 0;
    background-color: #3A1D7D;   
}

.tagAlong {
    width: 100%;
    height: 155px;
    position: fixed;
    bottom: 0;
    background-color: black;
}

.grow {
    animation-name: grow;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.grow2 {
    animation-name: grow2;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.detail {
    position: fixed;
    top: 2%;
}

#pin {
    width: 10%;
    right: 2%;
    z-index: 2;
}

#pin:hover {
    transform: rotate(4deg) translateY(2px) scale(0.9);
}

#card {
    width: 20%;
    left: 2%;
    z-index: 2;
}

#card:hover {
    filter: contrast(0.5);
    transform: rotate(-2deg);
}

#pencil {
    width: 3%;
    left: 20%;
    transform: rotate(10deg);
    z-index: 3;
}
#pencil:hover {
    transform: translateY(-2px) scale(0.8);
}

@media screen and (max-width: 550px){
    .snImg {
    width: 70%;
    }
    .snImg:hover {
    width: 77%;
    max-width: 77%;
    transform: rotate(10deg);
    transition-timing-function: ease;
    }
    #pin {
    width: 30%;
    
}
    #card {
    width: 40%;
}

#pencil {
    width: 5%;
    left: 35%;
    transform: rotate(20deg);
}
    
}

@keyframes fileHover {
    from{}
    to{transform: translateY(-20px);filter: brightness(100%);}
}


@keyframes grow {
    from{transform: scale(1);;filter: brightness(50%);}
    to{transform: scale(1.2);;filter: brightness(100%);}
}

@keyframes grow2 {
    from{transform: scale(1);}
    to{transform: scale(1.2);}
}

.zineTab {
    background-color: #1585FF;
}
.awardsTab {

    background-color: #0E8B52;
}
.artistsTab {
    background-color: #FFCC10;
}
.storiesTab {
    background-color: #FF0692;
}

/*re render*/