body {
    background-color: #6e0a14;
    margin: 0;
    text-align: center;
}

#sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    width: 20%;
    background-color: black;
    padding: 2%;
}

#dropdown {
    display: block;
    margin: auto;
    width: 50%;
}

.label {
    color: white;
}