body {
    margin: 0;
    background-color: palevioletred;
    overflow: hidden;
}

.container {
    display: flex;
    margin: auto;
    width: 90%;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    align-items: center;
}


.leftPage {
    position: fixed;
    width:50%;
    height: 100%;
    background-image: url(/TestImages/bgtest3.png);
    background-size: cover;
    background-color: lime;
    left: 0%;
    display: flex;
    align-items: center;
}

.rightPage {
    position: fixed;
    width:50%;
    height: 100%;
    background-color:purple;
    right: 0%;
    display: flex;
    align-items: center;
    background-image: url(/TestImages/bgtest3.png);
    background-size: cover;   
}

.piece {
    width: 50%;
    display: block;
    margin: auto;
}

.artist {
    width: 100px;
    display: block;
    margin: auto;
}

.next, .previous {
    background-color: transparent;
    border: none;
    width: 10%;
    
}
#next, #prButton {
    width: 50px;
    position: fixed;
    z-index: 1;
}

#next {
    right: 1%;
}

#previous {
    left: 1%;
}
