body {
    margin: 0;
    /*background-color: yellowgreen;*/
    background-image: url(/TestImages/sky.png);
    background-size: cover;
    overflow: hidden;
}

.container {
    display: flex;
    margin: auto;
    width: 90%;
    height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: black;
    border: solid black 7px;
    border-radius: 3%;
}


.leftPage {
    position: fixed;
    width:50%;
    height: 100%;
    background-image: url(/TestImages/bgtest3.png);
    background-size: cover;
    left: 0%;
    display: flex;
    align-items: center;
    border-radius: 5% 0 0 5%;
}

.rightPage {
    position: fixed;
    width:50%;
    height: 100%;
    right: 0%;
    display: flex;
    align-items: center;
    background-image: url(/TestImages/bgtest3.png);
    background-size: cover;   
    border-radius: 0 5% 5% 0;
}

.piece {
    width: 50%;
    display: block;
    margin: auto;
}

.artist {
    width: 100px;
    display: block;
    margin: auto;
}

.next, .previous {
    background-color: transparent;
    border: none;
    width: 10%;
    
}
#next, #prButton {
    width: 50px;
    position: fixed;
    z-index: 1;
}

#next {
    right: 1%;
}

#previous {
    left: 1%;
}

.tab {
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 1%;
    border-radius: 10%;
}

#home {
    background-color: #3A1D7D;
/*    background: linear-gradient(45deg, rgba(147,42,176,1) 0%, rgba(58,29,125,1) 100%);*/
}

#zine {
    background-color: #1585FF;
}

#awards {
    background-color: #0E8B52;
}

#stories { 
    background-color: #FF0692;
}

#artists {
    background-color: #FFCC10;
}

#holding {
    display: flex;
    justify-content: center;
    width: 15%;
    height: 10%;
    transform: rotate(270deg);
    position: fixed;
    top: 25%;
    left: -2.3%;
}

#holderDiv{
    display: flex;
    justify-content: center;
    width: 22.5%;
    height: 10%;
    position: fixed;
    transform: rotate(90deg);
    bottom: 25%;
    right: -6%;
}

a {
    text-decoration: none;
    color: black;
}

/*
#home {
    width: 10%;
    height: 10%;
    transform: rotate(270deg);
    background-color: aquamarine;
    position: fixed;
    top: 20%;
    left: 0%;
    border-radius: 5px;
    text-align: center;
}
*/

/*
@media screen and (max-width: 857px){
    body {
        background-color: greenyellow;
    }
    .container {
        background-image: url(/TestImages/bgtest3.png);
        padding: 2%;
    }
    .piece {
    max-width: 80%;
    min-width: 75%;
    display: block;
    margin: auto;
    }
    #next, #prButton {
    width: 25px;
    }
}
*/

